* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.animate__animated.animate__hinge {
  --animate-duration: 0.55s;
}

button {
    touch-action: manipulation;
}


h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}
body {
    background-color: #121213;
}

h1 {
    font-family: 'Arvo', serif;
    color: white;
    font-size: 65px;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

hr {
    position: relative;
    top: 12px;
    border: none;
    height: 2px;
    background: #3a3a3c;
    margin-top: 0px;
    margin-bottom: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 3px;
    justify-content: center;
    margin: auto
}

.container div {
    border-style: solid;
    background-color: #121213;
    border-color: #3a3a3c;
    width: 70px;
    height: 70px;
    line-height: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 50px;
}

#keyboard {
    width: 450px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    list-style: none;
    justify-content: center;
}
#keyboard li {
    float: left;
    margin: 0px 5px 5px 0;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    line-height: 40px;
    background: rgb(46, 46, 46);
    border: none;
    border-radius: 5px;
}
#keyboard .tab, #keyboard .delete {
    width:40px;
    justify-content: center;
}
#keyboard .space {
    clear: left;
    width: 681px;
}
.on {
    display: none;
}
#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}
